@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  background: white;
  padding: 0 5%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 90%;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #f5f5f5;
}

/* Header */

header {
  background-color: #f5f5f5;
  justify-content: space-between;
  align-items: center;
}

.header-inner {
  padding: 1px 0;
}

.header-head {
  display: flex;
}

.menu-buts{
  font-size: 28px;
  text-align: center;
}

.logo {
  width: 35%;
}

.info {
  width: 35%;
  text-align: right;
}

.call {
  width: 30%;
  padding: 20px 0;
  text-align: center;
}

.call button {
  padding: 10px 30px;
  border-radius: 36px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.header-but-box {
  background-color: black;
  padding: 4px;
  border-radius: 4px;
}

.header-but {
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: 12px;
  margin-bottom: 1px;
}

/* Welcome Search */

.search {
  text-align: center;
  padding: 40px 0;
}

.search-inner h1{
  margin-top: 8%;
}

.search-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1%;
  background-color: white;
  padding:4px 16px 16px 16px;
  border-radius: 8px;
}

.search-box input {
  width: 40%;
  padding: 1% 5%;
  padding-right: 50%;
  background-color: rgba(225, 225, 225, 0.5);
  font-size: 16px;
  border: none;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-box input:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-box input::placeholder {
  color: #aaa;
  font-style: italic;
}


.service {
  color: black;
}

.service-title {
  text-align: center;
}

.service-title h2 {
  margin: 100px;
  font-size: 50px;
}

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-container {
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  align-items: stretch; /* Align items vertically */
  text-align: center; /* Center text under images */
  gap: 20px; /* Adds spacing between items */
  padding: 20px;
}

.service-item {
  flex: 1; /* Ensures equal width for each item */
  max-width: 300px; /* Limit width for consistency */

}

.cards {
  width: 200%; /* Make images responsive */
  max-width: 300px; /* Adjust image size */
  height: auto;
  display: block;
  margin: 0 auto; /* Center images */
}



.price {
  margin: 160px 0;
}

.price-w1 {
  position: relative;
  background: url(../images/price-cover.webp)
    center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 12px;
}

.price-w1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 12px;
}

.price-w2 {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.price-text {
  font-size: 36px;
}

.price-but button{
  text-align: center;
  padding: 20px 40px;
  border-radius: 36px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 250px;
  font-size: 16px;
  cursor: pointer;
}

.offers {
  color: black;
}

.offers-inner {
  display: flex;
  align-items: center;
}

.offers-text {
  text-align: center;
  font-size: 28px;
}

.offers-off {
  width: 50%;
}

.offers-image {
  width: 50%;
  padding: 55px 20px;
}

.offers-block {
  display: flex;
}

.offers-off-txt {
  font-size: 16px;
  line-height: 1.55;
}
.offers-block img {
  padding: 0 50px;
}

.trust {
  color: black;
}

.trust-inner {
  display: flex;
  align-items: center;
}

.trust-text {
  text-align: center;
  font-size: 28px;
}

.trust-off {
  width: 50%;
}

.trust-image {
  width: 50%;
  padding: 55px 20px;
}

.trust-block {
  display: flex;
}

.trust-off-txt {
  font-size: 16px;
  line-height: 1.55;
  width: 500px;
}
.trust-block img {
  padding: 0 50px;
}

.contact-us {
  color: black;
  font-size: 24px;
  line-height: 1.55;
}

.contact-us-text {
  text-align: center;
}

.contact-us-text h2 {
  font-size: 42px;
}

.contact-us-pos {
  color: #999999;
}

.contact-us-cont p{
  margin: 0;
}

.contact-us-both {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.contact-us-inputs input {
  padding:12px 24px;
  padding-right: 200px;
  margin: 16px;
}

.h5-con {
  margin: 0;
  margin-top: 15px;
  margin-left: 16px;
}

.contact-us-num input {
  margin-top: 0;
}

.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px 40px;
  margin: 0 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  line-height: 30px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background: #a81d1d;
  border-width: 0;
  box-shadow: 5px 5px 0 #532831;
  outline: none;
  cursor: pointer;
  transition: 1.5s;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  height: 200px;
  left: -50%;
  margin-top: -100px;
  top: 50%;
  width: 200px;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
  transform: scale(0);
}
.btn:before {
  background: #ffeede;
  transition: .8s ease-out;
}
.btn:after {
  transition: .4s ease-in .3s;
}
.btn:hover {
  color: #532831;
}
.btn:hover:before, .btn:hover:after {
  opacity: 1;
  transform: scale(4);
}

.card {
  display: flex;
  height: 600px;
}

.where {
  width: 35%;
  background-color: rgb(245, 245, 245);
  color: black;

}

.container-s {
  margin: 100px 0;
  text-align: center;
}


.where-main {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.where hr {
  width: 25%;
  height: 3px;
  background-color: black;
  border: none;
  margin: 40px auto;
}

.where-inner {
  line-height: 6px;
  font-size: 24px;
}

.where-join {
  margin-top: 50px;
  font-size: 20px;
}

.fonts {
  color: white;
  display: flex;
  margin: 0 20%;
  justify-content: space-between;
  font-size: 36px;
}

.fonts div {
  height: 38px;
}

.fonts-vk {
  background: rgb(89,125,163);
  border-radius: 50%;
  padding: 7px 9px 4px 7px;
  width: 32px;
  font-size: 32px;
}

.fonts-whatsapp {
  background: rgb(67,216,84);
  border-radius: 50%;
  padding: 4px 7px 6px 9px;
}

.fonts-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  border-radius: 50%;
  padding: 5px 8px;
  width: 32px;
}

.fonts-telegram {
  background: rgb(0,136,204);
  border-radius: 50%;
  padding: 7px 9px 4px 9px;
  font-size: 30px;
}

.fonts-facebook {
  background: rgb(59,89,152);
  border-radius: 50%;
  padding: 7px 10px 3px 10px;
  font-size: 30px;
}

.map {
  width: 65%;
}

footer {
  background-color: white;
  height: 10em;
}

.footer-flex {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.footer-logo {
  width: 200px;
}

.font {
  color: white;
  display: flex;
  width: 230px;
  justify-content: space-between;
  font-size: 16px;
  margin-left: 100px;
}

.footer-num {
  text-align: right;
}

.footer-num-p {
  font-size: 30px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}
.menu {
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b6b6b;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -35px;
  top: 10px;
  display: none;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}

@media (max-width:720px) {
  .container {
    width: auto;
    margin: 0 10px;
  }

  .menu-btn {
    display: block;
    background-color: none;
  }

  .info {
    display: none;
  }

  .call {
    display: none;
  }

  .navbar {
    display: none;
  }

  .search-box input {
    width: 45%;
  }

  .offers-image {
    display: none;
  }

  .offers-inner {
    display: block;
  }

  .offers-off {
    width: 100%;
  }

  .offers-off-txt {
    font-size: 24px;
  }

  .service-container {
    display: block;
  } 

  .service-item {
    margin: 0 auto;
    margin-bottom: 75px;
  }

  

  .service-item h3 {
    width: 80%;
    margin: 5% 10%;
  }

  .service-item p {
    width: 80%;
    margin: 5% 10%;
  }

  .price-w1 {
    border-radius: 50px;
  }

  .price-w1:after {
    border-radius: 50px;
  }

  .price-text h2 br {
    display: none;
  }

  .price-text h2 {
    font-size: 70%;
  }

  .price-but button {
    padding: 3% 5%;
    width: 70%;
  }

  .offers-text {
    font-size: 100%;
  }

  .offers-block img {
    padding: 0;
  }

  .offers-off-txt {
    font-size: 95%;
    margin-left: 5%;
  }

  .offers-image {
    display: none;
  }

  .offers {
    margin-bottom: 15%;
  }

  .trust-inner {
    display: block;
  }

  .trust-off {
    width: 100%;
  }

  .trust-off-txt {
    font-size: 24px;
  }

  .trust-text {
    font-size: 100%;
  }

  .trust-block img {
    padding: 0;
  }

  .trust-off-txt {
    font-size: 95%;
    margin-left: 5%;
  }

  .trust-image {
    display: none;
  }


  .contact-us-text b{
    font-size: 60%;
  }

  .contact-us-text p{
    font-size: 65%;
  }

  .contact-us-both {
    display: block;
    margin: 0;
  }

  .contact-us-cont {
    font-size: 70%;
  }

  .contact-us-cont {
    text-align: center;
  }

  .contact-us-pos {
    text-align: center;
  }

  .contact-us-inputs input {
    padding: 5% 10%;
    padding-right:  15%;
    font-size: 80%;
  }

  .card {
    display: block;
    height: auto;
  }

  .where {
    width: 100%;
    padding: 12px 0;
  }

  .where-main {
    font-size: 120%;
  }

  .where-inner {
    font-size: 100%;
  }

  .fonts {
    margin: auto 5% auto 5%;
  }

  .map {
    width: 100%;
  }
}